.navbar-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid black;
    height: 100px;
}

.logo{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#admin-icon{
    font-size: 25px;
    border: 1px solid black;
    color: white;
}

.header{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 23px;
}

.filler{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@import "~bootstrap-icons/font/bootstrap-icons.css"